html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
@media screen and (min-width: 481px) {
  html {
    font-size: 20px;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 320px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #0d1335;
  background-color: #fff;
}
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
h1 {
  margin: 1.777rem 0;
  font-size: 2.369em;
}
h2 {
  margin: 1.333rem 0;
  font-size: 1.777em;
}
h3 {
  font-size: 1.333em;
}
p {
  margin: 0 0;
}
.list {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.link:active {
  color: #0d1335;
}
.link:hover {
  color: #d32f2f;
}
.link__icon {
  width: 28px;
  height: 28px;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}
.header,
.about,
.social-icons {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding: 0 1rem;
}
.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100vh;
          flex: 1 1 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__headline {
  -ms-flex-item-align: center;
      align-self: center;
}
.header__description {
  font-size: 1.333em;
  text-align: center;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__description {
  text-indent: 1.333em;
}
.about__secondary_commented {
  color: rgba(13,19,53,0.5);
}
.list_quoted::before {
  content: "/*";
}
.list_quoted::after {
  content: "*/";
}
/* 801px for tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 801px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 50%;
    padding: 10vh 5% 0 0;
  }
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about__main {
    -webkit-box-flex: 3;
        -ms-flex: 3 1;
            flex: 3 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 3%;
  }
  .about__secondary {
    -webkit-box-flex: 2;
        -ms-flex: 2 3;
            flex: 2 3;
  }
}
.nav {
  width: 100%;
  z-index: 999;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 0;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 13px;
}
.nav__link_hidden-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link_hidden-s {
  display: none;
}
.header__nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(229,246,254,0.71);
}
.header__nav_affix {
  position: fixed;
  top: 0;
  display: none;
}
.header__nav_affix-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 376px) {
  .nav__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__link_hidden-m {
    display: none;
  }
  .nav__link_hidden-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__bg,
.header__mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.header__bg {
  background: rgba(229,246,254,0.71) url("../images/bg_header_320.png") no-repeat;
  background-size: 425px auto;
  background-position: center center;
}
.header__mask {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(229,246,254,0.6)), to(rgba(229,246,254,0.9)));
  background-image: linear-gradient(top, rgba(229,246,254,0.6), rgba(229,246,254,0.9));
  z-index: 0;
}
/* 480px for smartphones, Android phones, landscape iPhone */
@media screen and (min-width: 481px) {
  .header__bg {
    background-size: cover;
  }
}
/* 801px for tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (orientation: landscape) and (min-width: 801px) {
  .header__bg {
    background-size: auto 100%;
    background-position: calc(50% - 240px) 0;
  }
  .header__mask {
    display: none;
  }
}
.works {
  height: 200vh;
}

/*# sourceMappingURL=styles.css.map */
